@import url("https://fonts.googleapis.com/css?family=Roboto:300&display=swap");

.CityInput {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  padding: 23px;
  color: var(--white-color);
  background-color: var(--input-bg-color);
  border: 0;
}

.SearchBarContainer {
    text-align: right;
}

.submit-button {
  border: 1px solid var(--input-bg-color);
  padding:22px;
  transition: 400ms ease;
}

.submit-button:hover {
  cursor: pointer;
  background-color: var(--bg-color);
}