@import url("https://fonts.googleapis.com/css?family=Oswald:200&display=swap");

.Temperature {
  display: flex;
  justify-content: center;
  padding: 100px;
}

.TemperatureTitle {
  font-family: "Oswald", sans-serif;
  font-weight: 900;
  color: #fff;
  font-size: 10em;
  margin: 0 20px;
  animation: appear 3500ms;
}

.TemperatureIcon {
  height: 5em;
  animation: appear 1000ms;
}

.TemperatureInfoContainer {
  width: 500px;
   animation: appear-slide 4s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.TemperatureInfo span {
  display: flex;
  align-items: flex-end;
  margin: 15px;
}

.row .sectionText,
.row .sectionTitle {
  margin: 5px 0 10px 25px;
  overflow: hidden;
}

.TemperatureInfoTitle {
  font-size: 2em;
  font-weight: 200;
  border-bottom: 1px solid #fff;
}
