.GeneralContainer {
    display:flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin:25px;
    text-align: center;
}

.GeneralTitle {
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin:10px;
}

.GeneralTitle .sectionTitle {
    font-size: 2em;
    margin:5px;
    animation: appear 2s;
}

.GeneralTitle .sectionTextLight {
    font-size:2em;
    animation: appear 2.5s;
}

.GeneralTitle + .row .sectionTextLight {
    margin:10px;
}