.ErrorInfoContainer {
    display:flex;
    justify-content: center;
    align-items: center;
    width:500px;
    height:200px;
}

.ErrorCenter {
    display: flex;
    justify-content: center;
    align-content: center;
}

.errorTitle {
    font-size: var(--error-title-size);
    font-weight: var(--normal-weight);
}

.errorText {
    font-weight: var(--light-weight);
}